


        <h4 style="border-bottom: 1px solid #c5c5c5;">
            <i class="glyphicon glyphicon-user">
            </i>
           Change Password
        </h4>
        <div style="padding: 20px;" >
            <div ng-controller="settings">
            <form accept-charset="UTF-8" role="form" id="login-form" method="post" >
                <fieldset>

                    <div class="form-group input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-lock">
            </i>
          </span>
                        <input class="form-control" placeholder="You're password" name="password" ng-model="password" type="password" value="" required="">
                    </div>
                    <div class="form-group input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-lock">
            </i>
          </span>
                        <input class="form-control" placeholder="You're new password" name="password" ng-model="new_password" type="password" value="" required="">
                    </div>
                    <div class="form-group">
                        <button ng-click="submit()" type="submit" class="btn btn-primary btn-block">
                            submit
                        </button>

                    </div>
                </fieldset>
            </form>
           </div></div>